body {
  background-color: rgb(75, 72, 72);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

header {
  position: fixed;
  top: 0;
  margin-top: 6rem;
  color: #fcd856;
  font-size: 1.8rem;
  text-shadow: 2px 1px 3px #eb4d4b;
  letter-spacing: 2px;
}

.clock {
  height: 25rem;
  width: 25rem;
  background-color: #f9ca24;
  border: 1rem solid #eb4d4b;
  border-radius: 100%;
  position: relative;
  top: 7%;
}

.hour,
.minute,
.second {
  height: 0.5rem;
  width: 11rem;
  background-color: black;
  position: absolute;
  top: 50%;
  left: 7%;
  transition: all 0.2s;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.hour {
  width: 6rem;
  left: 27%;
}

.second {
  background-color: white;
  border: 1px solid black;
  border-radius: 40%;
  height: 0.1rem;
}

.no-transition {
  transition: none;
}

/* FOOTER */
footer {
  height: 2.5rem;
  position: fixed;
  bottom: 0;
  right: 2rem;
}

footer p {
  font-size: 1rem;
  color: #f5e3a3;
}

@media screen and (max-width: 450px) {
  .clock {
    height: 16rem;
    width: 16rem;
  }

  header h1 {
    font-size: 1.8rem;
  }

  .minute,
  .second {
    width: 7rem;
    height: 0.4rem;
  }

  .hour {
    width: 5rem;
    height: 0.4rem;
    left: 19%;
  }

  .second {
    height: 0.2rem;
  }

  footer p {
    font-size: 0.9rem;
  }
}
