body {
  background-color: rgb(75, 72, 72);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.clock {
  height: 25rem;
  width: 25rem;
  background-color: rgb(75, 72, 72);
  border: 1rem solid white;
  border-radius: 100%;
  /* position: relative;
  transform: translateY(-3px); */
}

.hour,
.minute,
.second {
  height: 0.5rem;
  width: 12rem;
  background-color: black;
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(20deg);
  transition: all 0.5s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}
