body {
  background-color: rgb(75, 72, 72);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.clock {
  height: 25rem;
  width: 25rem;
  background-color: #f9ca24;
  border: 1rem solid #eb4d4b;
  border-radius: 100%;
  position: relative;
}

.hour,
.minute,
.second {
  height: 0.5rem;
  width: 11rem;
  background-color: black;
  position: absolute;
  top: 50%;
  left: 7%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.5s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.hour {
  width: 6rem;
  left: 27%;
}

.second {
  background-color: white;
}
